@font-face {
  font-family: "Dragon Warrior IV Regular";
  src: url("./Dragon Warrior IV Regular.ttf") format("truetype");
}


.DQ-TEXT {
    font-family: 'Dragon Warrior IV Regular', sans-serif;
    position: absolute;
    top: 30%;
    left: 10%;
    font-size: 50px;
  }

:root {
    --circle-spacing: 72%;
    --circle-spacing-2: 80%;
  }
  
  .character{
    position: relative;
    height: 100vh;
    background-color: black;
  }
  .background {
    border: black;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    background-color:black;
    top: 50%;
    left: 50%;
  }
  
  .circular-background-white,
  .circular-background-black,
  .circular-background-white-2,
  .circular-background-black-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }

  .circular-background-blue{
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 550px;
    height: 550px;
    background-color: #019CDCff;
    left: 76%;
    border-color: black;
    border-style: solid;
    border-width: 6px;
  }
  
  .circular-background-white {
    width: 120px;
    height: 120px;
    background-color: white;
    left: var(--circle-spacing);
    border-color: black;
    border-style: solid;
    border-width: 6px;
  }
  
  .circular-background-black {
    width: 50px;
    height: 50px;
    background-color: black;
    left: var(--circle-spacing);
  }
  
  .circular-background-white-2 {
    width: 120px;
    height: 120px;
    background-color: white;
    left: var(--circle-spacing-2);
    border-color: black;
    border-style: solid;
    border-width: 6px;
  }
  
  .circular-background-black-2 {
    width: 50px;
    height: 50px;
    background-color: black;
    left: var(--circle-spacing-2);
  }


  /* Sculpt Mouth*/
  
  .curved-rectangle {
    position: absolute;
    transform: translateX(90%);
    width: 55px;
    height: 46px;
    background-color: #EB1658ff;
    border-radius: 20px;
  }






  .circle-eyelid {
    width: 150px;
    height: 150px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    top: 42%;
    left:  68%;
    background-color: #019CDCff;/*#019CDCff*/
    position: absolute;
    animation: updown 3s infinite alternate;
  }

  .circle-eyelid-2 {
    width: 150px;
    height: 150px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    top: 42%;
    left:  76%;
    background-color: #019CDCff;/*#019CDCff*/
    position: absolute;
    animation: updown 3s infinite alternate;
  }
  
  @keyframes updown {
    0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(-100%);
      }
  }


  .DQ-TEXT-EF{
    color: white;
    animation: sizeEffect 1s ease-in-out infinite alternate;
  }

  @keyframes sizeEffect {
    0% {
        fontSize: 20px
      }
      100% {
        font-size: 30px; 
      }
  }

  .circle-eyelid.delayed {
    animation-delay: 10s;
  }

  .circle-eyelid-2.delayed {
    animation-delay: 10s;
  }
  